Main_Project/Test_AI_OCR/ocr_transaction_workflow.json
{
  "name": "ocr transaction workflow",
  "nodes": [
    {
      "parameters": {
        "path": "ocr-transaction",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        40
      ],
      "id": "webhook-ocr-transaction",
      "name": "OCR Transaction Webhook"
    },
    {
      "parameters": {
        "jsCode": "const src = $json.body ?? $json;\nconst imageObj = src.image ?? null;\nconst rawData = String(imageObj?.data ?? src.image_base64 ?? '').trim();\nconst base64 = rawData.replace(/^data:[^;]+;base64,/, '');\n\nreturn [\n  {\n    json: {\n      user_id: String(src.user_id ?? ''),\n      wallet_id: String(src.wallet_id ?? ''),\n      category_id: src.category_id || null,\n      type: String(src.type ?? 'expense'),\n      amount: Number(src.amount ?? 0),\n      currency: String(src.currency ?? 'VND'),\n      note: String(src.note ?? ''),\n      transacted_at: String(src.transacted_at ?? new Date().toISOString()),\n      receipt_url: String(src.receipt_url ?? ''),\n      image: {\n        name: imageObj?.name ?? src.image_name ?? 'upload.jpg',\n        mimeType: imageObj?.mimeType ?? src.image_mime_type ?? 'image/jpeg',\n        data: base64,\n      },\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        40
      ],
      "id": "normalize-input",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.veryfi.com/api/v8/partner/documents/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "CLIENT-ID",
              "value": "YOUR_VERYFI_CLIENT_ID"
            },
            {
              "name": "AUTHORIZATION",
              "value": "apikey YOUR_USERNAME:YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_name\": \"={{ $json.image.name }}\",\n  \"file_data\": \"={{ $json.image.data }}\",\n  \"categories\": [\"other\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -40,
        40
      ],
      "id": "ocr-tool",
      "name": "OCR tool"
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Input').first().json;\nconst vf = $json || {};\n\nconst ocrText =\n  (typeof vf.ocr_text === 'string' && vf.ocr_text.trim()) ||\n  (typeof vf.raw_text === 'string' && vf.raw_text.trim()) ||\n  (typeof vf.text === 'string' && vf.text.trim()) ||\n  '';\n\nconst amount = Number(vf.total ?? vf.amount ?? request.amount ?? 0);\nconst transactedAt = vf.date || vf.invoice_date || request.transacted_at;\nconst vendor = (vf.vendor && (vf.vendor.name || vf.vendor)) || vf.vendor_name || '';\nconst suggestedCategory = request.category_id || null;\nconst note = String(request.note || vendor || 'Giao dịch từ OCR').trim();\n\nreturn [\n  {\n    json: {\n      user_id: request.user_id,\n      wallet_id: request.wallet_id,\n      category_id: suggestedCategory,\n      type: request.type,\n      amount,\n      currency: request.currency || 'VND',\n      note,\n      transacted_at: transactedAt,\n      receipt_url: request.receipt_url || `ocr://${request.image.name}`,\n      source: 'ocr',\n      is_reviewed: false,\n      ocrStatus: ocrText ? 'ok' : 'empty',\n      ocrText,\n      vendor,\n      image: request.image,
    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        40
      ],
      "id": "build-transaction",
      "name": "Build Transaction"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/api/ai/ocr-transaction",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-KEY",
              "value": "YOUR_N8N_INTEGRATION_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { user_id: $json.user_id, wallet_id: $json.wallet_id, category_id: $json.category_id, type: $json.type, amount: $json.amount, currency: $json.currency, note: $json.note, transacted_at: $json.transacted_at, receipt_url: $json.receipt_url, source: $json.source, is_reviewed: $json.is_reviewed } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        456,
        40
      ],
      "id": "create-transaction",
      "name": "Create transaction"
    },
    {
      "parameters": {
        "jsCode": "const draft = $('Build Transaction').first().json;\nconst transaction = $json;\n\nreturn [\n  {\n    json: {\n      ocrStatus: draft.ocrStatus,\n      ocrText: draft.ocrText,\n      vendor: draft.vendor,\n      transaction,\n      transaction_id: transaction.id,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        712,
        40
      ],
      "id": "package-response",
      "name": "Package Response"
    }
  ],
  "connections": {
    "OCR Transaction Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "OCR tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR tool": {
      "main": [
        [
          {
            "node": "Build Transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Transaction": {
      "main": [
        [
          {
            "node": "Create transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create transaction": {
      "main": [
        [
          {
            "node": "Package Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "id": "ocr-transaction-workflow",
  "tags": []
}